body {
  margin: 0; padding: 0;
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  background-color: #222;
}

.m {
  display: none;
}

.stat-container {
  line-height: 1em;
  text-align: justify;
  color: #aaa;
}

.stat-container > span:first-child {
  color: #333;
}

.stat-container > span.spacer {
  width: 100%;
  display:inline-block;
}

.t-num {
  font-size: 1em;
}

#c {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 100%;
  background-color: #fff;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#c-sub {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #fbdc05;
  border-bottom: 1px solid #fbdc05;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 50%, rgba(238,238,238,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(238,238,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(238,238,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

#sc-img1 {
  width: 40%;
  height: auto;
  vertical-align: middle;
}

#sc-img2-c {
  display: none;
}

#sc-img2 {
  width: 100%;
  height: auto;
}

#m {
  max-width: 4.35em;
}

#pace {
  background-color: #333;
  padding: 4px 10px;
  color: #ccc;
}

#pace > span:first-child {
  color: #fbdc05;
}

#n {
  display: inline-block;
  line-height: .9em;
}

#l, #nl {
  display: none;
  font-size: 9px;
  letter-spacing: .3em;
  padding: 3px 2px;
  color: #fff;
  background-color: #27b314;
  text-align: right;
  box-sizing: border-box;
}

#nl {
  background-color: #e00000
}

#m-l {
  margin-left: 6px;
  margin-bottom: 10px;
  font-size: .2em;
  color: #ddd;
  font-variant: small-caps;
  vertical-align: bottom;
  min-width: 80px;
}

#m-l > div.d.g {
  border-top: 1px solid #ddd;
}

#s-hp {
  border-top: 1px solid black;
}

#s-c {
  display: inline-block;
  margin-left: 0.4em;
  font-size: 3.6em;
  vertical-align: middle;
  text-align: left;
}

#s-h {
  font-size: .25em;
  font-variant: small-caps;
}

#s-p {
  font-size: .3em;
}

#s-h, #s-p {
  display: inline-block;
  vertical-align: top;
}

#f {
  padding-top: 14px;
  font-size: .7em;
  font-variant: small-caps;
  color: #fff;
  background-color: #222;
  letter-spacing: .1em
}

#spinner {
  display: inline-block;
  margin-right: 5px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #fff;
}

#r-mtr {
  position: relative;
  /*background-color: #006bb7;*/
  width: 19px;
  height: 0;
  max-height: 450px;
  display: inline-block;
  vertical-align: bottom;
  background: #008eed; /* Old browsers */
  background: -moz-linear-gradient(top,  #008eed 0%, #005a96 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #008eed 0%,#005a96 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #008eed 0%,#005a96 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008eed', endColorstr='#005a96',GradientType=0 ); /* IE6-9 */

}

#r-mtr.transition {
  transition: 1.4s ease-in-out;
  -moz-transition: 1.4s ease-in-out;
  -webkit-transition: 1.4s ease-in-out;
}

#curr {
  position: absolute;
  /*background-color: #fdB827;*/
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fccb44+0,f2ae26+50 */
background: #fccb44; /* Old browsers */
background: -moz-linear-gradient(top,  #fccb44 0%, #f2ae26 50%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fccb44 0%,#f2ae26 50%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fccb44 0%,#f2ae26 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccb44', endColorstr='#f2ae26',GradientType=0 ); /* IE6-9 */

}

#curr.transition {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  transition: 1s ease-in-out;

  -webkit-transition-delay: 1.4s;
  -moz-transition-delay: 1.4s;
  transition-delay: 1.4s;
}

#curr-indctr {
  position: absolute;
  background-color: transparent;
  border-top: 2px solid rgba(255, 255, 255,0.8);
  width: auto;
  height: auto;
  color: #fff;
  top: 1px;
  right: 0;
  padding-right: 120%;
}

#rcrd {
  position: absolute;
  top: 1px;
  right: 0;
  padding-right: 120%;
  width: auto;
  height: auto;
  color: #fff;
  text-align: right;
  background-color: transparent;
  border-top: 2px solid rgba(255, 255, 255,0.8);
  box-sizing: border-box;
}

#tweet-button-ctr {
  padding-top: 4px;
  background-color: #222;
}

@media screen and (min-width: 1000px) {
  #c-sub {
    max-height: 450px;
  }

  #sc-img1 {
    max-height: 450px;
    width: auto;
  }
}

@media screen and (max-width: 750px) {
  #s-c {
    margin-left: .2em;
  }

  #s-h {
    margin-top: 0;
  }

  #s-h {
    font-size: .18em;
  }

  #s-p {
    font-size: .25em
  }

  #m {
    font-size: .8em;
    max-width: 4.8em;
  }
}

@media screen and (max-width: 650px) {
  #m {
    font-size: .6em;
    max-width: 4.5em;
  }

  #m-l {
    font-size: .22em;
    margin-left: 4px;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 550px) {
  #m {
    font-size: .6em;
    max-width: 4.8em;
  }
}

@media screen and (max-width: 450px) {
  .stat-container {
    box-sizing: border-box;
    text-align: right;
    display: inline-block;
    width: auto;
    min-width: 50%;
    padding-right: 10px;
  }

  #c {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 54px;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }

  #c-sub {
    padding: 0;
    border-top: none;
  }

  #sc-img1 {
    display: none;
  }

  #sc-img2-c {
    display: block;
    margin-top: 20px;
  }

  #m {
    position: relative;
    font-size: .8em;
    max-width: none;
    margin: 0 auto;
    width: 100%;
    text-align: right;
  }

  #m-l {
    font-size: .3em;
    margin-left: 0
  }

  #m-l > div.m {
    display: inline-block;
  }

  #m-l > div.d {
    display: none;
  }

  #l, #nl {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    font-size: 11px;
  }

  #s-c {
    margin-left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 .56em 0 0;
  }

  #s-h {
    border-top: none;
    margin-top: .2em;
  }

  #r-mtr {
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2em;
    max-height: none;
  }

  #rcrd, #curr-indctr {
    position: relative;
    padding: 0;
    text-align: center;
  }

  #f {
    padding-top: 6px;
  }

  #f-ctr {
    position: fixed;
    width: 100%;
    bottom: 10px;
  }
}

/** Animation **/
@keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes flickerAnimation {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.animate-flicker {
   -webkit-animation: flickerAnimation 1.4s infinite;
   -moz-animation: flickerAnimation 1.4s infinite;
   -o-animation: flickerAnimation 1.4s infinite;
    animation: flickerAnimation 1.4s infinite;
}